extends layout

//- block append style
//- 	link(rel='stylesheet', href='tingle.min.css')

block append scripts
	//- script(src='tingle.min.js')
	script(src='./landingpage.js')

block content
	.xs-col-12
		div.garcon-div
			img.garcon-icon(src='Garcon.png')
		div.question
			span Welcome to Garcon's! What is your mood today?
		div.answer
			select.form-control.form-control-lg#mood
				-each val, index in ["Healthy","Sinful","Meat Lover","The Usual ","Adventurous","Sweet","Classic", "Asian"]
					option(value=index) #{val}
		//- div
		//- 	button.btn.btn-primary.btn-pref(type="button") Special Requests

		div.submission-btn
			button.btn.btn-primary.btn-go(type='submit') Go!
		
