body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#page-wrapper{
	position: relative;
}

.sidenav{
	padding: 0;
}

.main-content{
	padding:0;
}

.sidenav-menu{
	height: 100%;
	background-color: cornflowerblue;
	position: fixed;
	width: 25vw;
	padding: 0;
}

.list-group-item{

}

#footer {
    position: fixed;
		padding:10px;
    bottom: 0;
		background-color: white;
}
.checkout{

}
.total-price{


}
.btn-submit-order{
	width:100%;
	text-align: center;
}
.buybtn{
	display:inline-flex;
	width: 30vw;
}

.buybtnmain{
	margin-left: 15vw;
	margin-right: 15vw;
	text-align: center;
}

.input-buy-btn{
	position:sticky;
}

.featuredDish{
	margin-bottom: 0;
	padding-bottom: 20px;
	display: table;
}

.featuredDish-img{
	object-fit: contain;
	max-width: 60vw;
	width: 100%;
	height:100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.featuredDish-title{
	text-align: center;
	font-size:4vh;
	font-weight: bold;
	overflow: hidden;
}
.featuredDish-price{
	font-size: 6vw;
	text-align: center;
	height: 13vh;
}
.featuredDish-description{
	font-size: 4vw;
	text-align: center;
	font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
	height: 13vh;
	word-wrap:break-word;
}

.otherDish-info{
	margin-top: 10px;
	margin-bottom: 10px;
}

.otherDish-words{
	padding-left: 0;
	text-align: center;
}

.otherDish-img{
	object-fit: contain;
	max-width: 30vw;
	width: 100%;
	height:100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.otherDish-title{
	font-size: 4vw;
	text-align: center;
	font-style: italic;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap:break-word;
	}
.otherDish-price{
	text-align: center;
	vertical-align: middle;
}
.otherDish-description{
	font-size: 3vw;
	text-align: center;
	font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
	height: 5vh;
	word-wrap:break-word;
}
